<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="static/stylesheets/hierarchy.css">
</head>
  <body>
    <div id="hierarchy-wrapper">
      <div id="class-info"> <p> this is where i put the method info </p> </div>
    </div>
    <script src="static/scripts/lib/jquery-1.9.1.min.js"></script>
    <script src="static/scripts/lib/underscore-min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="static/scripts/lib/jquery-ui-1.10.2.custom.js"></script>
    <script src="static/scripts/hierarchy.js"></script>
  </body>
</html>
