<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/projects/new" method="post">
		<input type="text" name="name" placeholder="Project name..."/>
		<textarea name="description">Enter your project description...</textarea>
		<input type="submit"/>
    </form>
  </body>
</html>
