  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/detail-pane.css' />
    <link rel='stylesheet' href='/stylesheets/solarized_dark.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/data.js"></script>
    <script src="/scripts/ui.js"></script>
    <script src="/scripts/display.js"></script>
    <script src="/scripts/display-detail.js"></script>
    <script src="/scripts/sockets.js"></script>
    <script src="/scripts/code_skeletons/java_skeleton.js"></script>
    <script src="/scripts/code_skeletons/ruby_skeleton.js"></script>
    <script src="/scripts/code_skeletons/python_skeleton.js"></script>
    <script src="/scripts/jointjs.min.js"></script>
    <script src="/scripts/display-view-heierarchy.js"></script>
    <script src="/scripts/display-view-code.js"></script>
    <script src="/scripts/highlight.pack.js"></script>
  </head>

<body>
<div id="canvas"></div>

</body>
